<div class="container">
    <div class="row">
        <div class="col-md-12">

            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Codice</th>
                        <th>Nome</th>
                        <th>Prezzo</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let temp of elenco">
                        <td>
                            <a href="prodotto/dettaglio/{{temp.id}}">{{temp.codice}}</a>
                        </td>
                        <td>{{temp.nome}}</td>
                        <td>{{temp.prezzo}}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>