<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Inserisci prodotto</h1>

            <div class="form-group">
                <label for="input_nome">Nome</label>
                <input type="text" [(ngModel)]="varNome" id="input_nome" class="form-control" placeholder="Nome del prodotto" />
            </div>
            <div class="form-group">
                <label for="input_codice">Codice</label>
                <input type="text" [(ngModel)]="varCodice" id="input_codice" class="form-control" placeholder="Codice del prodotto" />
            </div>
            <div class="form-group">
                <label for="input_prezzo">Prezzo</label>
                <input type="number" [(ngModel)]="varPrezzo" id="input_prezzo" class="form-control" placeholder="Prezzo del prodotto" />
            </div>

            
            <div class="row" *ngIf="showTuttoOk">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert">
                        Operazione effettuata con successo!
                    </div>
                </div>
            </div>

            
            <div class="row" *ngIf="!showTuttoOk">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-block" (click)="inserisciProdotto()">Inserisci</button>
                </div>
            </div>
        </div>
    </div>
</div>